* {
    margin: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center; /* Alinha logo, menu e botão verticalmente */
    justify-content: space-between; /* Espaça os três blocos */
    padding: 10px 40px; /* Dá um respiro nas bordas */
}

.menu-itens {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.item {
    text-decoration: none;
    padding: 10px;
    display: block;
    font-size: 50px;
}

.menu-itens li {
    margin: 2px;
    padding: 5px;
}

.get-a-quote{
    background-color: #36b864;
    border: transparent;
    color: #ffffff;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}
